In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ponna\OneDrive\Desktop\Book1.csv")
df

        city  humidity  temp
0        Hyd      34.0  56.0
1        kkd      45.0  67.0
2        vzg      56.0   NaN
3        Hyd      23.0  32.0
4        vzg      34.0  89.0
5        kkd       NaN  67.0
6  bangalore      78.0  67.0

In [2]:
df.min()

city         Hyd
humidity    23.0
temp        32.0
dtype: object

In [3]:
df.max()

city         vzg
humidity    78.0
temp        89.0
dtype: object

In [4]:
df.columns

Index(['city', 'humidity', 'temp'], dtype='object')

In [5]:
df.head()

  city  humidity  temp
0  Hyd      34.0  56.0
1  kkd      45.0  67.0
2  vzg      56.0   NaN
3  Hyd      23.0  32.0
4  vzg      34.0  89.0

In [6]:
df.tail()

        city  humidity  temp
2        vzg      56.0   NaN
3        Hyd      23.0  32.0
4        vzg      34.0  89.0
5        kkd       NaN  67.0
6  bangalore      78.0  67.0

In [8]:
df['humidity'].mean()

45.0

In [9]:
df['humidity'].mode()

0    34.0
Name: humidity, dtype: float64

In [10]:
df['humidity'].median()

39.5

In [11]:
df['humidity'].std()

19.677398201998148

In [12]:
df['humidity'].var()

387.2